<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="/bootstrap/bootstrapcss/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/about.css">
    
    
</head>
<body>

     <!--HEADER START-->
    
  
     <div class="navbar1">
        <nav class="navbar  navbar-expand-lg navbar-dark ">
            <div class="container my-4">
              <a class="navbar-brand text-white" href="#"><i class="fa fa-cloud"></i> CLOUDBUDGET</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto  mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/layout/home.html">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/product.html">PRODUCTS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/productdetails.html">PRODUCT DETAILS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/contact.html">CONTACT</a>
                  </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn1 btn-outline-success px-4 text-white" type="submit">LOGIN</button>
                  </form>
              </div>
            </div>
          </nav>
          <h1 class="text-white text-center mt-5 display-3">ABOUT US</h1>
        </div>
<!--HEADER END-->

<!--HOME PAGE SECTION START-->
    
<div class="container my-5">
    <div class="row mx-auto home-row">
      <div class="col-md-6 ">
        <h1 class="mb-5">Easy to Use Cloud Budget 
          Management Software</h1>
          <p style="text-align: justify;">Our software is made so you can access and manage your budget and 
            expenses online at any time from any device. It provides detailed income 
            and expense reports with graphs so you can easilly see your spending 
            patterns and budget at a glance. Read below to find out more</p>
            <button type="button" class="btn text-danger btn-outline-primary">Learn More</button>
      </div>
      <div class="col-md-6 ">
        <picture>
          <img src="/images/img2.png" alt="home-image" class="img-fluid">
        </picture>
      </div>
    </div>
  </div>
   <!--HOME PAGE SECTION END-->

   <!--FAQ SECTION START-->
   <div class="faq-main-container">
      <div class="container-fluid bg-danger faq-container">
        <h1 class="text-center pb-3 text-white">FAQ.</h1>
       <div class="row justify-content-center mx-auto">
        <div class="col-md-8">

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item border-0">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Id eu deserunt mollit esse mollit adipisicing in Lorem consequat labore sit esse.
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                  </div>
                </div>
                <div class="accordion-item border-0">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Id eu deserunt mollit esse mollit adipisicing in Lorem consequat labore sit esse.
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                  </div>
                </div>
                <div class="accordion-item border-0">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Id eu deserunt mollit esse mollit adipisicing in Lorem consequat labore sit esse.
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content.</div>
                  </div>
                </div>

                <div class="accordion-item border-0">
                    <h2 class="accordion-header" id="flush-headingFour">
                      <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Id eu deserunt mollit esse mollit adipisicing in Lorem consequat labore sit esse.
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content.</div>
                    </div>
                  </div>

                  <div class="accordion-item border-0">
                    <h2 class="accordion-header" id="flush-headingFive">
                      <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Id eu deserunt mollit esse mollit adipisicing in Lorem consequat labore sit esse.
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content.</div>
                    </div>
                  </div>

                  <div class="accordion-item border-0">
                    <h2 class="accordion-header" id="flush-headingSix">
                      <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        Id eu deserunt mollit esse mollit adipisicing in Lorem consequat labore sit esse.
                      </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content.</div>
                    </div>
                  </div>
                
              </div>

             
        </div>
       </div>
      </div>
   </div>
    <!--FAQ SECTION END-->

<!--FOOTER START-->
<div class="footer-main-container mt-5">
<div class="container footer-containner">
  <div class="row mx-auto footer-row py-5">
     <div class="col-md-3">
      <h4 class="text-center">Address</h4>
      <p class="pt-4 text-center">Pipang Ltd, Griva Digeni, 81-83 Jacovides Tower, 1st Floor
          1090 Picosia USA</p>
          <p class="copyright text-center">Copyright 2022 || CloudBudget</p>
     </div>
     <div class="col-md-3">
      <h4 class="text-center" >Services</h4>
      <p class="pt-4 text-center">overview features
        technologyTerms & Conditions
        Privecy</p>
     </div>
     <div class="col-md-3 text-center">
      <h4 class="text-center">Get in Touch</h4>
      <p href="#" class="pt-4 text-center"><a href="#">Info@cloudbudget.com</a></p>
      <p class=" text-center">+1 844-721-7120</p>
      <i class="fa fa-facebook text-dark px-2"></i>
      <i class="fa fa-linkedin text-dark px-2"></i>
      <i class="fa fa-twitter text-dark px-2"></i>
     </div>
     <div class="col-md-3">
      <h4 class="text-center">We Support</h4>
      <picture>
        <img src="/images/img13.png" class="img-fluid pt-4 text-center" alt="">
      </picture>
     </div>
  </div>
</div>
</div>
<!--FOOTER END-->

    <script src="/JS/main.js"></script>
    <script src="/bootstrap/bootstrap_js/bootstrap.bundle.js"></script>
</body>
</html>