<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTDETAILS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bootstrap/bootstrapcss/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/productdetails.css">
</head>
<body>
    
     <!--HEADER START-->
    
  
     <div class="navbar1">
        <nav class="navbar  navbar-expand-lg navbar-dark ">
            <div class="container my-4">
              <a class="navbar-brand text-white" href="#"><i class="fa fa-cloud"></i> CLOUDBUDGET</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto  mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/layout/home.html">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/about.html">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/product.html">PRODUCTS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">PRODUCT DETAILS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/contact.html">CONTACT</a>
                  </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn1 btn-outline-success px-4 text-white" type="submit">LOGIN</button>
                  </form>
              </div>
            </div>
          </nav>
          <h1 class="text-white text-center mt-5 display-3">PRODUCT 1</h1>
        </div>
<!--HEADER END-->

<!--ADD TO CART SECTION START-->
<div class="container my-5">
    <div class="row mx-auto">
        <div class="col-12 col-md-6">
            <picture>
                <img src="/images/img17.png" class="img-fluid" alt="">
            </picture>
        </div>
        <div class="col-12 col-md-6 productdetails-col-2">
            <h2>$45</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec lorem nec ligula pretium 
                commodo vel dapibus felis. Morbi ut lorem non est euismod facilisisLorem ipsum dolor sit 
                amet, consectetur adipiscing elit. Ut nec lorem nec ligula pretium commodo vel dapibus felis. 
                Morbi ut lorem non est euismod facilisisLorem ipsum dolor sit amet, consectetur adipiscing 
                elit. Ut nec lorem nec ligula pretium commodo vel dapibus felis. Morbi ut lorem non est 
                euismod facilisisLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec lorem nec 
                ligula pretium commodo vel dapibus felis. Morbi ut lorem non est euismod facilisisLorem 
                ipsum dolor sit amet, consectetur adipiscing elit. Ut nec lorem nec ligula pretium commodo 
                vel dapibus felis. </p>
                <button class="btn btn-outline-danger bg-danger text-white">Add to Cart</button>
        </div>
    </div>
</div>
<!--ADD TO CART SECTION END-->

<!--RELATED PRODUCT SECTION START-->
<div class="container mt-5">
    <h1 class="text-center">RELATED PRODUCTS</h1>
    <div class="row mx-auto py-5">
        <div class="col-12 col-md-3">
            <div class="card">
                <img src="/images/img4.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body card-body1">
                  <h6 class="card-title">Supports All Currencies and Cards</h6>
                  <p class="card-text">We support all popular currencies and is fully 
                    customizable to add</p>
                  <a href="#" class="btn text-danger ">Read More</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card">
                <img src="/images/img5.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body card-body1">
                  <h6 class="card-title">Supports All Currencies and Cards</h6>
                  <p class="card-text">We support all popular currencies and is fully 
                    customizable to add</p>
                  <a href="#" class="btn text-danger ">Read More</a>
                </div>
              </div>
        </div>
       
        <div class="col-12 col-md-3">
            <div class="card">
                <img src="/images/img4.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body card-body1">
                  <h6 class="card-title">Supports All Currencies and Cards</h6>
                  <p class="card-text">We support all popular currencies and is fully 
                    customizable to add</p>
                  <a href="#" class="btn text-danger ">Read More</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card">
                <img src="/images/img5.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body card-body1">
                  <h6 class="card-title">Supports All Currencies and Cards</h6>
                  <p class="card-text">We support all popular currencies and is fully 
                    customizable to add</p>
                  <a href="#" class="btn text-danger ">Read More</a>
                </div>
              </div>
        </div>
    </div>
</div>
<!--RELATED PRODUCT SECTION END-->

    <!--FOOTER START-->
<div class="footer-main-container">
    <div class="container footer-containner">
      <div class="row mx-auto footer-row py-5">
         <div class="col-md-3">
          <h4 class="text-center">Address</h4>
          <p class="pt-4 text-center">Pipang Ltd, Griva Digeni, 81-83 Jacovides Tower, 1st Floor
              1090 Picosia USA</p>
              <p class="copyright text-center">Copyright 2022 || CloudBudget</p>
         </div>
         <div class="col-md-3">
          <h4 class="text-center" >Services</h4>
          <p class="pt-4 text-center">overview features
            technologyTerms & Conditions
            Privecy</p>
         </div>
         <div class="col-md-3 text-center">
          <h4 class="text-center">Get in Touch</h4>
          <p href="#" class="pt-4 text-center"><a href="#">Info@cloudbudget.com</a></p>
          <p class=" text-center">+1 844-721-7120</p>
          <i class="fa fa-facebook text-dark px-2"></i>
      <i class="fa fa-linkedin text-dark px-2"></i>
      <i class="fa fa-twitter text-dark px-2"></i>
         </div>
         <div class="col-md-3">
          <h4 class="text-center">We Support</h4>
          <picture>
            <img src="/images/img13.png" class="img-fluid pt-4 text-center" alt="">
          </picture>
         </div>
      </div>
    </div>
    </div>
    <!--FOOTER END-->


    <script src="/bootstrap/bootstrap_js/bootstrap.bundle.js"></script>
</body>
</html>